fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.30
pymongo==4.7.2
scrapy==2.11.1
playwright==1.44.0
pydantic==2.7.2
python-dotenv==1.0.1
httpx[http2]>=0.27.0
beautifulsoup4>=4.12.3
fake-useragent>=1.5.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
psycopg2-binary==2.9.9
vaderSentiment==3.3.2
lxml==5.2.2
